@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI-Bold';
  src: url('../fonts/SegoeUI-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI-SemiBold';
  src: url('../fonts/SegoeUI-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}